h1 {
    background-color: black;
    color: white;
    text-align: left;
    font-family: sans-serif;
    
}
span {
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}
h3 {
    background-color: lightblue;
    color: rebeccapurple;
    text-align: right;
    font-family: sans-serif;
}